{% extends "bat/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-light" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </article>
    {% for weapon in weapons %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ weapon.weapon_name }}</a>
                    <small class="text-muted"> is a {{ weapon.weapon_slot }} {{ weapon.weapon_type }}</small>
                </div>
                <h2><a class="article-title" href="#">Type: {{ weapon.weapon_type }}</a></h2>
                <p class="article-content">Specific description: "No info yet"</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}